html {
    box-sizing: border-box;
    font-size: 62.5%;  /* 1rem = 10px, 10px : 16px = 62.5% */
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 75%;
    }
}

body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(hero.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 4rem;
}

.btn {
    padding: 3rem;
    color: #fff;
    border: #fff 2px solid;
    border-radius: 1rem;
}