body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(hero.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 10px;
}